body {
    background-color: lightgray;
}
main{
    margin-top: 2em;
    margin-left: 1em;
    border-radius: 15px;
    width: 50%;
    height: 40em;
    background-color: white;
    padding-top: 2em;
}

ul {
    border-bottom: 3px solid lightgray;
    padding-bottom: 4.5px;
}

a{
    font-family: Helvetica;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-right: 1px solid lightgray;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#wp {
    border-right: 0px;
    border-bottom: 3px solid lightblue;
    margin-left: -5px;
}

#ux {
    border-bottom: 3px solid lightpink;
    margin-left: -5px;
}

#graphics {
    border-bottom: 3px solid lightsteelblue;
    margin-left: -5px;
}

#mobile {
    border-bottom: 3px solid rgb(255, 255, 88);
    margin-left: -5px;
}

#design {
    border-bottom: 3px solid lightgreen;
    margin-left: -5px;
}

#coding {
    border-bottom: 3px solid lightblue;
    margin-left: -5px;
}